// A mixin for some of the repetitive stuff below
.overlay() {
  #gradient > .directional(rgba(0,0,0,.8); rgba(0,0,0,0); 45deg);
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 0;
}

.hero {
  padding: 0;
  display: block;
  height: 650px;
  margin-bottom: -250px;

  z-index: @zindex-navbar - 5;

  position: relative;
  width: 100%;
  overflow: hidden;

  img {
    .size(auto, 100%);
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .overlay {
    .overlay();
    &:after {
      content: '';
      .overlay();
    }
  }

  #intro {
    color: white;
    text-shadow: 2px 2px 20px rgba(0,0,0,.2);

    z-index: @zindex-navbar - 3;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  // The <div> that triggers the hero's fadeout animation
  #hero-fadeout {
    position: absolute;
    left: 0;
    bottom: 25%;
  }
}
