// A mixin for some of the repetitive stuff below
.overlay() {
  #gradient > .directional(rgba(0,0,0,.8); rgba(0,0,0,0) 100%; 45deg);
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hero {
  padding: 0;
  display: block;
  height: 746px;
  margin-bottom: @line-height-computed;

  z-index: @zindex-navbar - 5;

  position: relative;
  line-height: 0;
  width: 100%;

  img {
    .size(100%, auto);
    position: relative;
    top: 0;
    left: 0;
  }

  .overlay {
    .overlay();
    &:after {
      content: '';
      .overlay();
    }
  }
}

#hero-fadeout {
  position: relative;
  top: -200px;
}
